@import url('https://fonts.cdnfonts.com/css/quileute');
@import url('https://fonts.cdnfonts.com/css/kelmscott-roman-nf');

:root {
    --colorFondo: #00989b;
    --colorEnfasis1: #dcdedd;
    --colorEnfasis2: #99a2a1;
    --colorEnfasis3: #00585a;
    --colorText: #afafb8;
    --colorText2: #00181a;

    /* mis Fuentes */
    --textTitle: 'Quileute', sans-serif;
    --textContent: 'Kelmscott Roman NF', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorEnfasis1);
    width: 100vw;
    height: auto;
    overflow-x:hidden;
}

/* ----------------HEADER--------------- */
header {
    width: 100%;
    height: 100vh;
   
}

.menuNavegacion {

    width: 100%;
    height: 30vh;
    background-color: var(--colorEnfasis3);
    position:relative;   
    display:flex;
    justify-content: space-between 10px;
    align-items:center;
    z-index: 100;
  
}

.logo {
    height: 70%;
}

.img-logo {
    height: 120%;

}

.listaMenu {
    display: flex;
    gap: 100px;
    list-style: none;
}

.listaMenu a {
    text-decoration: none;
    color: var(--colorText);
    font-family: var(--textContent);
    font-size: 30px;
}

.listaMenu a:hover {
    color: var(--colorEnfasis1);
}
/* ----------------MAIN--------------- */
main{
    display:contents;
    justify-content: center;
}
.baner{
    width: 100%;
    height: 40vh;
    
}
.baner img{
   
    width: 100%;
    height: 40vh;
    object-fit: fill;
    margin-top: -500px;
    
}
.imagenPrincipal{
    border-radius: 3%;
        border: solid 5px var(--colorFondo);
        width: 90%;
        height: auto;        
        margin-top: -20%;
        margin-left: 5%;
        
      }
      .imgParrafo{
        
        display: flex;
        gap: 70px;
       
      }


      .imgParrafo p{
        margin-top: 2%;
        width: 50%;
       margin:auto;
        justify-content:end;
        color: var(--colorEnfasis3);
        font-family: var(--textContent);
        font-size: 20px;
    }

.titulo{
    height: 60px;
    width: 100%;
    background-color: var(--colorEnfasis);
    border-radius: 3%;
    place-content: center;
    color: var(--colorFondo);
    transition: all 500ms ease-in-out;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    
}
.titulo:active{
    background-color: rgb(16, 120, 120);
    color: rgb(131, 135, 156);
    transform: scale(1,2);
    margin-bottom: 10px;
   
    
}
.titulo2{
    height: 60px;
    width: 100%;
    background-color: var(--colorEnfasis);
    border-radius: 3%;
    place-content: center;
    color: var(--colorFondo);
    transition: all 500ms ease-in-out;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    
}
.titulo2:active{
    background-color: rgb(16, 120, 120);
    color: rgb(131, 135, 156);
    transform: scale(1,2);
    margin-bottom: 10px;
   
    
}
/*aplico diseño al carrusel*/
.carrusel{
    color: var(--colorFondo);
    width: 50%;
    height: 60%;
    margin-top: 4%;
    margin-left: 30%;
}


.contenedor-Habilidades{
    border: solid 5px var(--colorEnfasis);
    width: 75%;
    height: 65vh;
    margin:100px auto;
    overflow-x: hidden ;
    
}
.habilidades{

    width: 100%;
    height: 100%;
    display: flex;
    gap: 100px;
    /*animacion elegida*/
    animation-name: deslizar;
    animation-duration: 5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
     animation-direction: alternate;
}
   
   @keyframes deslizar {
    from{
        transform: translateX(0%);
    }
    50%{
            transform: translateX(-150%);
    }
    to{
        transform: translateX(-300%);
    }
    
   }
  
.contenedor-Habilidades img{
    width: 100%;
    height: 100%;
  
}
/* ----------------FOOTER--------------- */
.footer {
    background-color: var(--colorEnfasis3);
    width: 100%;
    height: 100px;

}

.contacto {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: var(--colorText);    
    font-family: var(--textContent);
    font-size: 20px;
}

 
/* media query para hacer el diseño responsive*/
@media screen and (max-width:490px){
    
    main{
        width: 100%;
        height: -80%;
    } 

    .menuNavegacion{
       width: 100000px;
       
    }

    .listaMenu{
        gap: -50px;
        font-size: 10%;
    }
    .img-logo{
        size: 20%;
    }
    .baner{
      
        margin-top: -10%;
        width: 1500px;
        height: 30vh;
       
        
    }
    .baner img{
        width: 1600px;
    }
    .imagenPrincipal{
        width: 1400px;
        height: 10%;
        margin-left: 150px;  
          
    }
    .imgParrafo{
        
        width: 150%;
        height: 50vh;   
    }
      .titulo{
        width: 500%;
        display: flex;
        margin-left: 150px;     
        justify-content: center;
      }

      .carrusel{
        width: 500%;
        height: 300px;
        display: flex;
        margin-left: 150px;     
        justify-content: center;
      }
      .titulo2{
        width: 500%;
        display: flex;
        margin-left: 150px;     
        justify-content: center;
    }
    .contenedor-Habilidades{
        width: 500%;
        display: flex;
        margin-left: 150px;     
        justify-content: center;
    }
    .footer{
        width: 1600px;
       
 
    }
    .contacto{
        width: 50%;
        margin-left: 150px;      
        margin-bottom: 100PX;
    }
   
    
    
    
}